/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mengatur font dan warna dasar */
html, body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #a0f);
    color: #ffffff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.5rem;
    margin: 10px 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

li span {
    font-size: 3rem;
    font-weight: bold;
    color: #ffeb3b;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    li {
        font-size: 1.2rem;
        padding: 8px;
    }

    li span {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    li {
        font-size: 1rem;
        padding: 6px;
    }

    li span {
        font-size: 2rem;
    }
}
