html, body {
   font-family: 'Open Sans', sans-serif;
   background-color: #222831;
   color: #eeeeee;
   height: 100%;
   margin: auto;
   display: flex;
   align-items: center;
   text-align: center;
   overflow: hidden;
   background: radial-gradient(circle at left bottom, #caffbf, #222831);
}

h1 {
   font-size: 2.5rem;
   text-align: center;
   font-weight: bold;
   color: #ffd6a5;
}

ul {
   margin: 0;
   padding: 0;
   background: rgba(0, 0, 0, 0.7);
   list-style: none;
   padding: 1em;
   border-radius: 10px;
}

li {
   display: inline-block;
   font-size: 1.2rem;
   color: #a0c4ff;
   padding: 1em;
   text-transform: capitalize;
}

li span {
   color: #ffffff;
   display: block;
   font-size: 3rem;
   font-weight: bold;
   transition: transform 0.5s ease-in-out;
}

.animate {
   transform: scale(1.1);
}

#app {
   z-index: 10;
   position: relative;
}

#c {
   position: absolute;
   top: 0;
   left: 0;
}
